@font-face {
	font-family: 'digits';
	src: url(../Fonts/Digit.ttf);
}

* {
  margin: 0 auto;
	box-sizing: border-box;
  outline: none;
  user-select: none;
	text-align: center;
}

.column {
	display: flex;
	justify-content: center;
}



#timer {
	font-size: 100px !important;
	display: flex;
	width: 400px;
	text-align: center;
}

.timer_digits {
	width: 150px !important;
}

.digits {
	font-family: digits;
	font-size: 30px;
	font-weight: normal;

}

.disabled {
	display: none;
}

.set {
	width: 300px;
	display: flex;
	justify-content: space space-between;
}
.pulse {
  margin:100px;
  display: block;
  width: 550px;
  height: 550px;
  border-radius: 50%;
  background: #58ee33;
  cursor: pointer;
  box-shadow: 0 0 150px 150px rgba(70, 248, 54, 0.5);
  animation: pulse 2s infinite;
}
.pulse:hover {
  animation: none;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(70, 248, 54, 0.4);
  }
  70% {
      -webkit-box-shadow: 0 0 0 10px rgba(70, 248, 54, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(70, 248, 54, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(70, 248, 54, 0.4);
    box-shadow: 0 0 0 0 rgba(70, 248, 54, 0.4);
  }
  70% {
      -moz-box-shadow: 0 0 0 10px rgba(70, 248, 54, 0);
      box-shadow: 0 0 0 300px rgba(70, 248, 54, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(70, 248, 54, 0);
      box-shadow: 0 0 0 0 rgba(70, 248, 54, 0);
  }
}