@font-face {
	font-family: 'digits';
	src: url(../Fonts/Digit.ttf);
}

* {
  margin: 0 auto;
	box-sizing: border-box;
  outline: none;
  user-select: none;
	text-align: center;
	text-decoration: none;
}

body {
	background: radial-gradient(ellipse at center, rgba(107, 235, 90, 0) 0%, rgba(107, 235, 90, 0.664) 43%, rgba(107, 235, 90, 0.993) 100%);
	margin: 0;
	padding: 0;
}
.wrapper {
  position: relative;
  width: 550px;
  height: 550px;
  margin: 50px auto;
}


.column {
	display: flex;
	justify-content: center;
}



#timer {
	font-size: 100px !important;
	display: flex;
	width: 400px;
	text-align: center;
	margin-top: 25px;
}

.timer_digits {
	width: 150px !important;
}

.digits {
	font-family: digits;
	font-size: 30px;
	font-weight: normal;
	padding: 10px 15px;	
	background: #58ee33;	
}

.set_dig{
	width: 60px !important;
	border-radius: 5px;
	box-shadow: -10px 10px 20px rgba(70, 248, 54, 0.8);
}

.set {
	width: 200px;
	display: flex;
	justify-content: space space-between;
}
.pulse {
  margin:100px;
  display: block;
  width: 550px;
  height: 550px;
  border-radius: 50%;
  background: #58ee33;
  cursor: pointer;
  box-shadow: 0 0 50px 50px rgba(70, 248, 54, 0.5);
  animation: pulse 1.5s infinite;
	position: absolute;
  top: 45%;
  left: 45%;
  transform: translate(-50%, -50%);
}
#pulse:hover {
  animation: none;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(70, 248, 54, 0.4);
  }
  70% {
      -webkit-box-shadow: 0 0 0 10px rgba(70, 248, 54, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(70, 248, 54, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(70, 248, 54, 0.4);
    box-shadow: 0 0 0 0 rgba(70, 248, 54, 0.4);
  }
  70% {
      -moz-box-shadow: 0 0 0 10px rgba(70, 248, 54, 0);
      box-shadow: 0 0 0 300px rgba(70, 248, 54, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(70, 248, 54, 0);
      box-shadow: 0 0 0 0 rgba(70, 248, 54, 0);
  }
}

.timer-wrapper {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1;
}

.pulse::before {
	content: "";
	position: absolute;
	top: -10px;
	left: -10px;
	right: -10px;
	bottom: -10px;
	border-radius: 50%;
}

.set-btn {
	height: 30px;
	width: 20px;
}
.set-btn-container{
	height: 30px;
}
.timer-text{
	font-weight: normal;
	font-size: 50px;
	margin-top: 20%;
	text-align: center;
	transition: all 1s ease;
}

.main-icon{
	width: 30px;
	height: 30px;
}
.main-buttons{
	width: 100px;
	font-size: 30px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	color: #000;
}

.disabled{
	display: none;
	transition: all 0.5s ease-in-out;;
}

.vanished{
	visibility: hidden;
	opacity: 0;
	transition: all 0.5s ease-in-out;
}

/* .vanished {
	opacity: 0;
  transition: opacity 0.5s ease-out;
} */

.appeared {
	opacity: 0;
	transition: opacity 1s ease-out;
}

.control {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 30px;
	margin-top: 50px;
}
/* Tabs design */

.tabs {
  display: flex;
}

.item {
  width: 33.333%;
  padding: 15px 0;
  font-family: 'Times New Roman', Times, serif;
  font-size: 32px;
  line-height: 24px;
  padding: 15px;
  border: 3px solid #f7e9b3;
  border-radius: 20px 20px 0 0;
}

.item:hover {
  border: 2px solid #f7e9b3;
  border-radius: 20px 20px 0 0;
  
}

.item:hover:nth-child(1) {
  background-color: #58ee33;
  
}

.item:hover:nth-child(2) {
  background-color: rgba(163, 67, 207, 0.933);  
}

.item:hover:nth-child(3) {
  background-color: #2f4ae6;  
}

.item.active {
  border: 2px solid #f7e9b3;  
  border-bottom: none;
  border-radius: 20px 20px 0 0;  
}

.item.active:nth-child(1) {
  background-color: #58ee3370;  
  
}

.item.active:nth-child(2) {
  background-color: rgba(163, 67, 207, 0.933);
}

.item.active:nth-child(3) {
  background-color: rgba(43, 61, 214, 0.933);
}

body.purple {
	background: radial-gradient(ellipse at center, rgba(163, 67, 207, 0) 0%, rgba(163, 67, 207, 0.664) 43%, rgba(163, 67, 207, 0.993) 100%);
}

body.blue {
  background: radial-gradient(ellipse at center, rgba(43, 61, 214, 0) 0%, rgba(43, 61, 214, 0.664) 43%, rgba(43, 61, 214, 0.993) 100%);
}

.digits.purple {
	background-color: rgba(163, 67, 207, 0.933);	
}

.set_dig.purple {
	box-shadow: -10px 10px 20px rgba(163, 67, 207, 0.933);
}

.pulse.purple {
	background:  rgba(163, 67, 207, 0.933);
}
#timer.purple {
	background:  rgba(163, 67, 207, 0.171);
}

.digits.blue {
	background-color: rgba(43, 61, 214, 0.933);	
}

.set_dig.blue {
	box-shadow: -10px 10px 20px rgba(43, 61, 214, 0.933);
}

.pulse.blue {
	background:  rgba(43, 61, 214, 0.933);
}
#timer.blue {
	background:  rgba(43, 60, 214, 0.13);
}
